body{
	margin: 0px;
	padding: 0px;
	background-color: white;
}
/*header start*/
header{
	background-color: #ffffff;
	width: 100%;
	padding: 10px 0 15px;
	margin: 0 auto;
}
.wrapper1{
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
}
.logo{
	float: left;
	width: 25%;
	margin-top: 10px;
	margin-bottom: 5px;
}
.logo img{
	width: 100%;
}
.menu{
	float: right;
	width: 65%;
	margin-top: 11px;

}
.menu ul{}
.menu ul li{
	list-style: none;
	float: left;
	
}
.menu ul li a{
	font-size: 17px;
	color: #3B5569;
	padding:0 25px;
	font-family: sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}
/*header end*/
/*banner start*/
.banner{}
.banner_bg{
	background-image: url(../image/image1.jpg);
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.home{
	width: 25%;
	padding: 30px 25px 25px;
	margin-top: 80px;
	margin-bottom: 180px;
	background-color: rgba(60, 64, 74, .5);

}
.home h1{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 35px;
	color:white;
	margin-top: 0px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.home p{
	font-family: sans-serif;
	color:white;
	line-height: 30px;
	font-size: 20px;
}
.home button{
	width: 125px;
    height: 35px;
    font-size: 14px;
    background-color: rgba(60, 64, 74, .8);
    border: none;
    border-radius: 5px;
    color: white;
}
/*banner end*/
/*service start*/
.service{}
.wapper2{
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 50px 30px;
}
.single_item{
	width: 27%;
	float: left;
	margin: 0 38px;
	text-align: center;
}
.single_item h2{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 30px;
	color:#647684;
	margin-top: 0px;
	margin-bottom: 15px;
}
.single_item img{
	width: 100%;
}
.single_item p{
	font-family: sans-serif;
	color:#647684;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.single_item button{
	width: 90px;
    height: 30px;
    font-size: 14px;
    background-color: #445E7F;
    border: none;
    border-radius: 5px;
    color: white;
}
/*service end*/
/*footer start*/
footer{
	width: 100%;
}
/*
.wapper2{
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 50px 30px;
}*/
.pragraphf{
	width: 40%;
	margin: 0 auto;
	text-align: center;
}
.pragraphf p{font-family: sans-serif;
	color:#647684;
	margin-top: 10px;
	margin-bottom: 10px;}
.pra1{
	font-size: 14px;
}
.pragraphf img{ 
	width: 40px;
	padding: 5px;

}

/*footer end*/